<div class="page" ng-controller="modelmlPhCtrl">
  <h3 class="chumb-head">LIST MODEL</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default border-content">
        <div class="panel-body" style="height: fit-content; min-height: 510px; max-height: 510px; overflow-y: auto">
          <md-content>
            <!-- <md-list> -->
            <md-list-item ng-style="{ 'background-color' : (item.name == activeModel) ? '#355f63' : 'white'} "
              ng-repeat="item in models" style="margin: 5px" ng-click="loadModDetail(item)">
              <div layout="row list-model" layout-wrap>
                <span ng-style="item.status=='finish'? { color: 'black'}: { color:'GoldenRod'}"
                  style="margin-left: 10px" flex>{{item.name}}</span>
                <span ng-show="item.level"
                  style="font-style: italic; color: deepskyblue">&nbsp;&nbsp;&nbsp;&nbsp;({{item.level}})</span>
              </div>
            </md-list-item>
            <!-- </md-list> -->
          </md-content>
        </div>
      </div>
    </div>

    <!-- Panel Training -->
    <div class="col-md-8">
      <div class="panel panel-default" style="border-radius: 20px">
        <div class="panel-body text-center panel-training lbl-content-training">
          <div class="row">
            <div class="col-md-5" style="text-align: left">
              <p><strong>{{activeModel}}</strong>&nbsp;:&nbsp;{{modelStatus}}
                <img src="assets/images/custom_icons/Shield Done.svg" ng-show='modelStatus=="finish"'>
              </p>
            </div>
            <!-- Status hW -->

            <div class="col-sm-3" style="text-align: start">
              <label style="margin-right: 52px">RAM :</label>
              <label>2TB</label>
              <uib-progressbar class="progressbar-sm progress-rounded bar-hw-ram" value="gpu[0]" type="danger"
                tooltip-placement="bottom" uib-tooltip="{{gpu[1]}}" tooltip-append-to-body="true">
              </uib-progressbar>
            </div>
            <div class="col-sm-3" style="text-align: start">
              <label style="margin-right: 52px">GPU :</label>
              <label>40GB</label>
              <uib-progressbar class="progressbar-sm progress-rounded bar-hw-gpu" value="ram[0]" type="warning"
                tooltip-placement="bottom" uib-tooltip="{{ram[1]}}" tooltip-append-to-body="true">
              </uib-progressbar>
            </div>
            <!-- End tatus hW -->
          </div>

          <!-- panel hasil training -->
          <div class="row">
            <div class="panel panel-default panel-training-ml">
              <md-content style="border-radius: 10px; max-height: 320px; z-index: 50" md-whiteframe="1">
                <pre class="logtext">{{logText}}</pre>
              </md-content>
            </div>
          </div>
          <!-- end panel hasil training -->

          <div class="row" style="text-align: left; margin-left: 5px">
            <a class="md-button md-ink-ripple aksi-panel-train" ng-show='modelStatus=="prediction paused"'
              ng-click="playModel(activeModelId)">
              <img src="assets/images/custom_icons/play.svg" style="width: 22px; height: 22px" />Jalankan Prediksi
            </a>

            <a class="md-button md-ink-ripple aksi-panel-train" ng-show='modelStatus=="finish"'
              ng-click="pauseModel(activeModelId)"> <img src="assets/images/custom_icons/pause.svg" />Jeda Prediksi </a>

            <a class="md-button md-ink-ripple aksi-panel-train" ng-click="editModel($event, activeModelId)"> <img
                src="assets/images/custom_icons/edit.svg" />Edit model </a>

            <a class="md-button md-ink-ripple aksi-panel-train" ng-show='modelStatus=="cancelled"'
              ng-click="runModel(activeModelId)"> <img src="assets/images/custom_icons/play.svg"
                style="width: 25px; height: 25px" />Jalankan Training </a>

            <a class="md-button md-ink-ripple aksi-panel-train"
              ng-show='modelStatus!="finish" && modelStatus!="cancelled"' ng-click="cancelModel($event, activeModelId)">
              <img src="assets/images/custom_icons/close.svg" />Batalkan Training
            </a>

            <a class="md-button md-ink-ripple aksi-panel-train" ng-show='modelStatus=="finish"'
              ng-click="deleteModel($event, activeModelId)"> <img src="assets/images/custom_icons/delete.svg" />Hapus
              Model </a>

            <a>
              <!-- Modal tambah model  -->
              <button class="btn-model-ml" ng-click="showAddNewModelDialog($event)">
                <img src="assets/images/custom_icons/plus-yellow.svg" alt="tambah-ml" style="padding-left: 7px" />
                <span style="color: #ffd12f">TAMBAH MODEL</span>
              </button>
              <!-- End tambah model -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>