<md-toast role="alert" aria-relevant="all" style="min-width: 160px !important;right: 50px !important;padding-right: 0px !important;padding-left: 0px !important;">
    <div layout=column style='width: 100% !important;'>
        <md-button style='margin-left: 0px !important;margin-right: 0px !important;' class="md-highlight" ng-click="addFinished()">
            Pilih Lokasi
        </md-button>
        <md-button style='margin-left: 0px !important;margin-right: 0px !important;' ng-click="closeToast()">
            Batal
        </md-button>
    </div>
</md-toast>